.section-cover {
	height: 100px;
	background: center center no-repeat;
	background-size: cover;
	position: relative;
	max-width:1500px;
	margin: 0 auto 25px auto;
	overflow: hidden;

	&.large {
		height: 150px;
	}

	&.flexible {
		height: auto !important;
		text-align: center;
	}

	.title {
		position: absolute;
		margin-bottom: 1em;
		text-align: center;
		bottom: 20px;
		left: 0;
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 1.6em;
		margin: 0;
		text-shadow: 2px 0 3px rgba(#000, 0.8);
	}

	@media screen and (min-width: 768px) {
		height: 200px;

		.title {
			bottom: 40px;
			font-size: 48px;
		}
	}

	@media screen and (min-width: 992px) {
		height: 250px;

		&.large {
			height: 340px;
		}
		
	}

	@media screen and (min-width: 1200px) {
		height: 300px;

		&.large {
			height: 400px;
		}
	}

	@media screen and (min-width: 1500px) {
		background-size: 1500px;
		height: 350px;

		&.large {
			height: 470px;
		}
	}
}

.section-cover-front {
	background: #222;
	padding: 30px 0;

	.content, .wpb_content_element{
		text-align: center;
		font-weight: 600;
		color: #fff;
	
		.title {
			text-transform: uppercase;
			font-family: inherit;
			margin: 30px 0;
			padding: 0;
			display: inline;
			color: inherit;
			font-weight: inherit;
			font-size: 30px;
			line-height: 1.2em;

			span {
				background: rgba(#000, 0.65);
				padding: 2px 20px 4px 20px;
				display: inline-block;
				margin: 5px 0;
			}
		}

		.sub-title {
			background: rgba(#555, 0.65);
			font-size: 16px;
			display: inline-block;
			width: auto;
			padding: 5px 20px;
			margin-top: 7px;
		}
	}

	.get-program-info {
		margin-bottom: 20px;
	}

	@media screen and (min-width: 992px) {
		.row,.vc_row {
			display: table;
			min-height: 450px;

			[class*="col-"] {
				display: table-cell;
				vertical-align: middle;
				float: none;
			}
		}

		.content, .wpb_content_element{
			text-align: right;

			.title {
				font-size: 50px;
			}

			.sub-title {
				font-size: 20px;
			}
		}

		.get-program-info {
			.title {
				font-size: 40px;
			}

			.btn,.button{
				height: 60px;
				line-height: 60px;
				max-width: none;
			}
		}
	}
}

.section-cover-bio {
	height: 150px;
	background: $color-main;

	.content {
		position: absolute;
		right: 0;
		top: 50%;
		text-align: right;
		margin-top: -30px;

		.name {
			background: #fff;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			display: inline-block;
			float: right;
			margin: 0 0 10px 0;
			padding: 5px 15px;
			line-height: 1em;
			box-shadow: 1px 2px 5px rgba(#000, 0.4);
			font-family: Georgia, serif;
			font-size: 20px;
		}

		.role {
			background: #fff;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			display: inline-block;
			float: right;
			clear: both;
			margin: 0;
			padding: 5px 10px;
			line-height: 1em;
			box-shadow: 1px 2px 5px rgba(#000, 0.4);
			color: $color-main;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 13px;
		}
	}

	@media screen and (min-width: 768px) {
		height: 370px;

		.content {
			margin-top: -55px;

			.name {
				font-size: 66px;
				padding: 10px 45px;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				box-shadow: 1px 3px 8px rgba(#000, 0.5);
			}

			.role {
				font-size: 26px;
				border-top-left-radius: 7px;
				border-bottom-left-radius: 7px;
				line-height:50px;
				padding: 10px 50px 10px 85px;
				box-shadow: 1px 3px 8px rgba(#000, 0.5);
			}
		}
	}

	@media screen and (min-width: 992px) {
		height: 470px;
	}
}
