// ********************** Mobile ***************************//
$mobile_background_color: #ffffff;
$body-font: "Titillium Web", Helvetica, Arial, sans-serif;
//**** SEARCH **//
$search_bar_border_bottom: 2px solid #cc0033;
$search_bar_placeholder_font_color: rgba(#cc0033, 0.6);
$search_bar_placeholder_font_size: 16px; //check
$search_bar_placeholder_font_style: italic;
$search_bar_placeholder_font_weight: 400;
$search_bar_placeholder_font_family:  $body-font;

$search_bar_input_font_color:	#222;
$search_bar_input_font_size:	16px; //check
$search_bar_input_font_style:	normal;
$search_bar_input_font_weight:	400;
$search_bar_input_font_family:  $body-font;

//** NAV BAR **//
$btn_apply_font_size: 16px; //check
$btn_apply_font_style: normal;
$btn_apply_font_weight: 600;
$btn_apply_font_color: #000;
$btn_apply_background_color: #9ea900;
$btn_apply_font_family:   $body-font;

$btn_menu_font_weight:	600;
$btn_menu_font_size:	18px; //check
$btn_menu_font_style:	normal;
$btn_menu_font_family:  $body-font;
$btn_menu_font_color:	#0a304e;

$btn_menu_background-color: #222222; //check...
$btn_menu_icon_color: #fff;
$btn_menu_color: #fff; //check

$nav_menu_categories_weight:	600;
$nav_menu_categories_size:	20px; //check
$nav_menu_categories_style:	normal;
$nav_menu_categories_font_family:   $body-font;
$nav_menu_categories_color:	#b9b9b9;

$nav_menu_categories_background_color: #0a304e; //check...
$nav_menu_categories_icon_plus: #9ea900;
$nav_menu_categories_icon_minus: #222;

$nav_menu_sub_categories_weight: 600;
$nav_menu_sub_categories_size:	14px;
$nav_menu_sub_categories_style:	normal;
$nav_menu_sub_categories_font_family: $body-font;
$nav_menu_sub_categories_color:	black;

$nav_menu_separation_bar:	1px solid #dde5ed;
//********************************************************************//

// ****************** Desktop ***********************//

//**** SEARCH **//
$desktop_search_bar_border:1px solid #333;
$desktop_search_bar_background_color: #FFFFFF;
$desktop_search_bar_border_radius: 16px;

$desktop_search_bar_border_focus: 1px solid #cc0033;
$desktop_search_bar_background_color_focus: #FFF;
$desktop_search_bar_outline_focus: 1px solid transparent;

$desktop_search_bar_input_font_color:	#333333;
$desktop_search_bar_input_font_size:	22px;//check
$desktop_search_bar_input_font_style:	normal;
$desktop_search_bar_input_font_weight:	400;
$desktop_search_bar_input_font_family:  $body-font;

//** NAV BAR **//
$desktop_btn_apply_font_size:	18px; //check
$desktop_btn_apply_font_style:	normal;
$desktop_btn_apply_font_weight:	600;
$desktop_btn_apply_font_color:	#000;
$desktop_btn_apply_background_color: #9ea900;
$desktop_btn_apply_font_family:   $body-font;

$desktop_btn_menu_font_weight:	400;
$desktop_btn_menu_font_size:	16px;
$desktop_btn_menu_font_style:	normal;
$desktop_btn_menu_font_family:   $body-font;
$desktop_btn_menu_font_color:	black;


//NAV BAR HOVER
$desktop_btn_apply_hover_background_color:	#b6c300;
$desktop_btn_apply_hover_font_color:	white;
$desktop_btn_menu_hover_background_color: #f4f4f4;
$desktop_btn_menu_hover_font_color:	#333;

// //NAV BAR ALIGNMENT
$desktop_text-align:right;
$desktop_background_color:#222222;
$text-transform: uppercase;


#header.navbar-v2{
    .container {
        height: 100%; 
        margin: auto;
    }
    .inner {
        border-bottom: none !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-default {
        background: transparent;
    }

    .navbar,.navbar-nav{
        background-color: $mobile_background_color;
    }  
    
    .search-open { 
        .icon{
            margin-top:16px;
            margin-right:15px;
            display:inline-block;
            width:25px;
            height:25px;
            background:url('../img/nav/magnifer_lens.svg');
        }
        &.open{
            .icon{
                background:url('../img/nav/x_open.svg');
                width:15px;
                height:15px;
                margin-top: 25px;
            }
        }
    }
    .mobile-nav-search {
        margin:0 15px;
        input {
            color:$search_bar_input_font_color;
            font-size: $search_bar_input_font_size;
            font-style:$search_bar_input_font_style;
            font-weight: $search_bar_input_font_weight;
            font-family: $search_bar_input_font_family;
            line-height:1.2em;
            height:auto;
            padding: 5px 0px 5px 0;
            margin:25px auto;
            border-radius:0;
            border:none;
            background-color:transparent;
            border-bottom: $search_bar_border_bottom;
            background-image:url('../img/nav/magnifer_lens_open.svg');
            background-repeat:no-repeat;
            background-size:contain;
            background-size:20px 20px;
            background-position: right center;
            width: 100%;
            
            @include placeholder {
                font-style:$search_bar_placeholder_font_style;
                color:$search_bar_placeholder_font_color;
                font-size: $search_bar_placeholder_font_size;
                font-weight: $search_bar_placeholder_font_weight; 
                font-family: $search_bar_placeholder_font_family;
            }
        }
    }

    .navbar-default .navbar-nav>li>a {
        text-transform:none;
        font-weight: $desktop_btn_menu_font_weight;
        font-size: $desktop_btn_menu_font_size;
        font-style: $desktop_btn_menu_font_style;
        color: #222;
        font-family: $desktop_btn_menu_font_family;
        padding: 0px 18px;
        &:hover {
            background-color: $desktop_btn_menu_hover_background_color;
            color:$desktop_btn_menu_hover_font_color;
        }
    }

    .navbar-default .navbar-nav>li.apply a {
        background: none;
        background-color: $desktop_btn_apply_background_color;
        font-size: $desktop_btn_apply_font_size;
        font-style: $desktop_btn_apply_font_style;
        font-weight: $desktop_btn_apply_font_weight;
        color: $desktop_btn_apply_font_color;
        font-family: $desktop_btn_apply_font_family;
        text-transform: $text-transform;
        &:hover {
            background: none;
            background-color:$desktop_btn_apply_hover_background_color;
            color: $desktop_btn_apply_hover_font_color !important;
        }
    }

     /*------------Animated Menu Button ------------------*/
     .navbar-toggle {
        border: none;
        background: transparent !important;
        &.collapsed {
            .top-bar {transform: rotate(0);}
            .middle-bar {opacity: 1;}
            .bottom-bar {transform: rotate(0);}
        }          
        &:hover {
            background: transparent !important;
        }    
        .icon-bar {width: 27px;transition: all 0.2s; background:$btn_menu_icon_color;}
        .top-bar {transform: rotate(45deg);transform-origin: 10% 10%;}
        .middle-bar {opacity: 0;}
        .bottom-bar {transform: rotate(-45deg);transform-origin: 10% 90%;}
    }
    .big-lens {
        display: block;
    }
  
    @media ( max-width: 991px ) {
        .navbar-nav>li.apply,
        .navbar-nav>li:after{
            display:none;
        }
        nav {
            ul.nav > li{
                border-bottom:$nav_menu_separation_bar;
                &.open {
                    a {background-color:white;}
                }
                > a {
                    color:$nav_menu_categories_color;
                    display:block;
                    text-align:left;
                    font-size:$nav_menu_categories_size;
                    font-weight:$nav_menu_categories_weight;
                    font-style: $nav_menu_categories_style;
                    font-family: $nav_menu_categories_font_family;
                }
            }
        }
        .dropdown {
            li {text-align:left;}
            .caret {
                float:right;
                border:none;
                width:1.0em;
                height:1.0em;
                position:relative;
                &::before{
                    position:absolute;
                    top:50%;
                    left:0;
                    right:0;
                    display:inline-block;
                    content:'';
                    background: $nav_menu_categories_icon_plus;
                    height: 3px;
                    width:100%;
                    border-radius: 1px;
                }
                &::after{
                    position:absolute;
                    transform: rotate(-90deg);
                    transition: all 0.5s ease-in-out;
                    top:50%;
                    left:0;
                    right:0;
                    content:'';
                    display:inline-block;
                    background: $nav_menu_categories_icon_plus;
                    height: 3px;
                    width:100%;
                    border-radius: 1px;
                    border:none;
                }
            }
            &.open{
                a{color:#002E62}
                .caret{
                    &::after{
                        background:$nav_menu_categories_icon_minus;
                        transform: rotate(0deg);
                    }
                }
            }
            .dropdown-menu{
                padding-left:15px;
                li{
                    padding:5px;
                    &:first-child{
                        a {
                            border-top:1px solid #DEE6EE;
                        }
                    }
                    a { 
                        color:$nav_menu_sub_categories_color;
                        font-style: $nav_menu_sub_categories_style;
                        font-size:$nav_menu_sub_categories_size;
                       // font-weight:$nav_menu_sub_categories_weight;
                        font-family: $nav_menu_sub_categories_font_family;
                        padding:15px;
                        border-bottom:1px solid #DEE6EE;
                        text-align: left;
                    }
                }

                li:last-child{
                    a{border-bottom:none;}
                }

            }
        }
        .navbar-toggle {
            padding:15px;
        }
        .header-bottom > .container-fluid {
            padding:0;
        }
        .wrapper {
            width:100%;
            white-space: nowrap;
            display:flex;
            flex-direction: row;
            align-items: stretch;
        }
        .mobile-menu,.mobile-apply {
            flex:1;
            height:50px;
            float:none;
            display:inline-block;
            background-color: $btn_menu_background-color;
            font-family:  $btn_menu_font_family;
            text-transform: $text-transform;
            
        }
        .mobile-apply {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-size: $btn_apply_font_size;
            font-style: $btn_apply_font_style;
            font-weight: $btn_apply_font_weight;
            font-family: $btn_apply_font_family;
            color: $btn_apply_font_color;
            background-color: $btn_apply_background_color;
        }
        .mobile-menu {
            background-color: #222;
        }
        .mobile-menu button {
            width:100%;
            text-align:right;
            text-transform: $text-transform;
            font-weight: 600;
            &:focus{
                outline:  $btn_menu_background-color;
            }
        }
        .bars {
            display:inline-block;
        }
        .menu-text {
            color: $btn_menu_color;
            position:relative;
            top:-2px;
           // left:-5px;
            display:inline-block;
            font-size: 16px;
            font-family: $btn_menu_font_family;
        }
 
        .navbar-default .dropdown-menu li a:before {
            content: none;
        }
        .navbar-nav>li:hover:not(.open) ul {
            display: none;
        }

        .open .dropdown-menu {
            position:static;
            float:none;
            box-shadow:none !important;
        }

        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse { 
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            background-color:white;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .collapse.in{
            display:block !important;
        }

        .navbar-default .dropdown-menu>.active>a,
        .navbar-default .dropdown-menu>.active>a:focus,
        .navbar-default .dropdown-menu>.active>a:hover {
            background-color: #e7e7e7 !important;
        }
    }



    //min width 992px
    @media ( min-width: 992px){
        nav ul{width:auto;}
        .navbar .navbar-collapse {text-align: center}

        .navbar,.navbar-nav{
            background-color:$desktop_background_color;
        }
        .dropdown .caret {
            margin-top: 0;
        }
        .big-lens{
            display: none;
        }
        .header-bottom{
            display: none;
        }

        .inner{
            height: 90px !important;
        }
        form.nav-search{
            display:flex;
            height:100%;
            float:right;
            align-items:center;
            input{
                width:220px;
                background-color:  $desktop_search_bar_background_color;
                border: $desktop_search_bar_border;
                border-radius: $desktop_search_bar_border_radius;
                padding-left:38px;
                border-radius:16px;
                background-image:url('../img/nav/magnifer_lens.svg');
                background-repeat:no-repeat;
                background-size:contain;
                background-size:20px 20px;
                background-position:10px center;
                color: $desktop_search_bar_input_font_color;
                font-size: $desktop_search_bar_input_font_size;
                font-style: $desktop_search_bar_input_font_style;
                font-weight: $desktop_search_bar_input_font_weight;
                font-family: $desktop_search_bar_input_font_family;

                &:focus{
                    background-color: $desktop_search_bar_background_color_focus;
                    outline: $desktop_search_bar_outline_focus;
                    border: $desktop_search_bar_border_focus;
                    outline-width: 0.1px; //over ride the 1px default border style - for accessibility
                    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset, 0 0 8px rgba(51,51,51,.6);
                }
            }
        }

        img.logo {
            height: 53px;
            margin-top: 10px;
        }

        .navbar-nav>li:after{display:none;}
        .navbar-nav>li>a {
            padding: 0 13px !important;
        }

        .navbar-nav>li {
            &:hover {
                a {
                    color: #c03!important;
                }
                ul {
                    li {
                        a {
                            color: #222 !important;
                        }
                    }
                }
            }
            &:not(.apply)>a{
                color: $nav_menu_categories_color;
                font-weight: 600;
                // background-color: $nav_menu_categories_background_color;
                text-transform: $text-transform;

                &:hover{
                    color: $desktop_btn_menu_hover_font_color;
                    background-color:$desktop_btn_menu_hover_background_color;

                }
            }
            >a {
                font-weight:normal;
                &:focus{
                    text-decoration: underline;
                }
            }
        }


        .navbar-default .current-menu-ancestor>a,
        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:active
        .navbar-default .navbar-nav>.active>a:focus,
        .navbar-default .navbar-nav>.active>a:hover{
            background-color: #e7e7e7;
            color: #000;
        }
    }

    @media (max-width:1200px){
        // nav ul { width: auto }
        .inner {
            min-height:60px;
            height:auto;
        }
        .nav-search{display:none;}
    }

    @media (min-width: 1200px){
        .navbar-nav>li>a {
            padding: 0 24px !important;
        }
    }
}




// #header .logo {

//     @media (min-width:480px){
      
//     }
//     @media (min-width:768px){
       
//     }
//     @media (min-width:992px){
      
//     }
//     @media (min-width:1200px){
       
//     }
// }