{% extends "dashboard/base.html" %}{% load static wagtailcore_tags %}{% load wagtailuserbar %} {% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<html>

<body>
    {% block content %}
    <div class="ui stackable padded very relaxed two column grid" style="height: calc(-70px + 100vh);">
        <div class="eight wide column leftNav universityImage dashboardUniversityImage" style="padding: 0px; background-image: url({% static 'images/pexels-shkrabaanthony-5475760.jpg' %}); background-size: cover; background-position-x: 45%; min-height: 130px;"></div>
        <div class="eight wide column dashboardSigninContainer">
            <div class="dashboardSigninForm">
                <h2 class="ui header">Sign In</h2>
                You need a password to access this page.
                {% if user.is_authenticated %}To proceed, please log in with an account that has access.{% endif %}
                <p class="dashboardSigninIntro">If you have spoken with admissions, your account has been created for you. Use the provided password from your admissions email.</p>
                <p class="dashboardSigninIntro">If you have not spoken with admissions, <a class="getStarted" href="{% url 'dashboard:enrol' %}"> get started now</a>&nbsp;by selecting a program and creating an account.</p>
                <form class="ui form signInForm" action="{% url 'authentication:login' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="field">
                        <label for="id_username">Email</label>
                        <div class="ui fluid input">
                            <input aria-invalid="true" placeholder="Email address" name="username" id="id_username" type="email">
                        </div>
                    </div>
                    <div class="field">
                        <label for="id_password">Password</label>
                        <div class="ui fluid input">
                            <input aria-invalid="true" placeholder="Password" name="password" id="id_password" type="password">
                        </div>
                    </div>
                    <a class="smaller dashboardForgotPassword" href="{% url 'authentication:password_reset' %}">Forgot password</a>
                    <div class="ui hidden divider"></div>
                    <button class="ui primary button dashboardSignInBtn">Sign In &amp; Continue</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>