.btn,.button{
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
	color: #000000;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 4px;
    background-color: #ffffff;
	//background: #ce002e url('../img/split-bg-red.svg') center center no-repeat;
	border: none;
	font-family: inherit;
	outline: none;
	text-decoration: none !important;

	
}

.btn-primary {
	background: linear-gradient(to bottom, rgba(lighten($color-main, 5%),1) 0%,rgba($color-main,1) 100%);

	&:hover {
		background: linear-gradient(to bottom, rgba(lighten($color-main, 10%),1) 0%,rgba(lighten($color-main, 5%),1) 100%);
	}
}

.get-info-btn-container {
	padding: 10px 0;
	width:100%;
	position:sticky;
	background:#F4F4F4;
	top:0;
	z-index:1000;
	@media screen and (max-width: 991px) {
		& + .section-cover, & + .section-cover-front {
			margin-top: 15px;
		}
        .btn,.button{
            background-color: #c03;
            color: #FFFFFF;
        }
	}
}


$MOBILE-STICKY-BAR__btn-livechat__color:#fff;
@import "../../../CodingBootcamp/media/vendors/blog-site-one/components/mobile_sticky_button";

.btn-load-more {
	color: #007fac;
	border: none;
	background: none;
	outline: none;
	appearance: none;
	margin-top: 1em;
	padding: 0;

	&:before {
		content: "+";
		font-weight: bold;
		margin-right: 10px;
	}
}

.btn-read-more {
	background: url('../img/icons/read-more-blue.png') no-repeat center center;
	background-size: contain;
	width: 50px;
	height: 40px;
	border: none;
	appearance: none;
	padding: 0;
	outline: none;
	margin: 0;
	transition: all .2s;

	&:hover {
		opacity: 0.7;
	}
}



.review.open .btn-read-more{
	background: url('../img/icons/read-less-blue.png') no-repeat center center;
	background-size:contain;
}


@media screen and (min-width: 768px) {
	.btn-lg {
		height: 70px;
		line-height: 70px;
		padding: 0 40px;
		font-size: 32px;
		font-weight: 600;
	}
}
