{% load static wagtailcore_tags %} {% load static %} {% load get_info_form %} {% info_form as form %}
<div class="lead_form sfps get-program-info " data-form_instance="1">
    <div class="content">

        <h2 class="form-get-info-title title" aria-label="Get program info form">
            Get Program Info
        </h2>
        <div class=form-get-info>
            <noscript>
                <form class="salesforce-form direct nojs pardot" accept-charset="UTF-8" 
                    action="https://go.trilogyed.com/l/293952/2017-08-30/9wncl" 
                    method="POST" 
                    target="_top"
                    id="leadform_no_js_1">	
                    <input type=hidden aria-label="browser support" name=browser_support value="JS Disabled">
                    <input class=return_url name=return_URL aria-label="return url"	value="https://bootcamp.rutgers.edu/thank-you/" type=hidden />
                    <input class=form_name 	name="form_name" 	aria-label="form name" 	type=hidden value="Sidebar" />
                    <input class=university name="university_id" 	aria-label="university id" 	type=hidden value="0014100000IGP71AAH"/>
                    <input type=hidden name=program_type aria-label="program type" value="Part Time">
                    <input type=hidden name=program aria-label="program" value="a0V41000001QEwhEAG">
                    <input type=hidden name=campus aria-label="campus" value="a0K41000003pJBvEAM">
                    <div class="step active">
                        <div class=inner>
                            <div class='fname ico'>	<label for="no_js_fname_1" class=sr-only>First Name</label><input id="no_js_fname_1" name="name_first" type="text" class="first-name" placeholder="First Name" autocomplete="on" required tabindex=0 aria-label="First Name"></div>
                            <div class='lname ico'>	<label for="no_js_lname_1" class=sr-only>Last Name</label><input id="no_js_lname_1" name="name_last" type="text" class="last-name" placeholder="Last Name" autocomplete="on" required tabindex=0 aria-label="Last Name"></div>	
                            <div class='eml ico'>	<label for="no_js_email_1" class=sr-only>Email</label><input id="no_js_email_1" name=email class=email type="email" placeholder="Email Address" required tabindex=0 aria-label="Email"></div>
                            <div class='phone ico'>	<label for="no_js_phone_1" class=sr-only>Phone</label><input id="no_js_phone_1" type="tel" name=phone class="phone-number" placeholder="Phone Number" required autocomplete="on" tabindex=0 aria-label="Phone Number"></div>
                            <button type="submit" class="button" tabindex=0>Submit</button>
                            <fieldset role="group" aria-label="tcpa" style="border: unset; margin: unset; padding: unset">
                                <label for="no_js_tcpa_1" class=tcpa>
                                    <input id="no_js_tcpa_1" required checked type=checkbox name=tcpa value="By submitting this form, you agree that edX Boot Camps, in partnership with Rutgers may contact you regarding this boot camp. Your personal data will be used as described in Rutgers Boot Camps’s privacy policy. You may opt out of receiving commun">
                                    <span>By submitting this form, you agree that edX Boot Camps, in partnership with Rutgers may contact you regarding this boot camp. Your personal data will be used as described in <em style="font-style:normal" class=bootcamp_name>Rutgers Boot Camps</em>’s <a class="tcpa-link" target=_blank href="/privacy-policy/">privacy policy</a>. You may opt out of receiving communications at any time.</span>
                                </label>
                            </fieldset>				
                        </div>
                    </div>
                </form>
            </noscript>
            <form class="form-1a trilogy-lead-form single-field-per-step  salesforce-form direct dynamic  pardot multi-program tc-ver" accept-charset="UTF-8" action="https://go.trilogyed.com/l/293952/2017-08-30/9wncl" method="POST" target="_top" autocomplete="off"
                id="leadform_1">
                <div class=hidden_fields>
                    <input type=hidden name=Accelerator value=1>
                    <input type=hidden name="form_name" class=form_name value="Sidebar" />
                    <input type=hidden name=form_version value="3.5">
                    <input type=hidden name=form_type class=form_type value="1a">
                    <input type=hidden name=region_id value="10">
                    <input class=university name="university_id" type=hidden value="0014100000IGP71AAH" />
                    <input class=ga_client_id name=ga_client_id type=hidden value="">
                    <input type=hidden name=programs_of_study value="4a7aa8fc-5309-4b11-b45c-7710fdba35bb">
                    <input type=hidden name=credential_type value="BOOTCAMP">
                    <input type=hidden class=current_step value="">
                    <input type=hidden class="tcpa_content" name=tcpa_content value="">
                    <input type=hidden class="tcpa_accepted_date" name=tcpa_accepted_date value="">
                    <input class="hidden_sms_optout" id=sms_opt_out_no_1 name=sms_opt_out type=hidden value=1>
                    <input type=hidden name=product_test_id value="">
                    <input type=hidden class=cta name=call_to_action value="">
                    <input type=hidden name=timezone class=timezone>
                    <input class=return_url name=return_URL value="https://bootcamp.rutgers.edu/thank-you/" type=hidden />
                    <input type=hidden name=path_translated value="" class=pathvisited>
                    <input type=hidden name=browser_support value="JS Disabled" class=browser_support>
                    <input type=hidden name=ip value="" class=ip_address>
                    <input type=hidden name=ipv6 value="" class=ip_v6_address>
                    <input type=hidden name=UUID value="" class=Trilogy_UUID>
                    <input type=hidden name=Lead_IP_Zipcode value="" class=ipZipcode>
                    <input type=hidden name=Lead_IP_City value="" class=ipCity>
                    <input type=hidden name=Lead_IP_Region value="" class=ipRegion>
                    <input type=hidden name=Lead_IP_Country value="" class=ipCountry>
                    <!-- <input type=hidden name=hp value="" class=high_priority> -->
                    <input class=gclid name="GCLID" type=hidden />
                    <input class=fbclid name="FBCLID" type=hidden />
                    <input class=mkwid name="mkwid" type=hidden />
                    <input class=source name="utm_source" type=hidden />
                    <input class=keywords name="keywords" type=hidden />
                    <input class=referrer_id name="Referrer_ID" type=hidden />
                    <input class=referrer name="referrer" type=hidden />
                    <input class=original_referrer name="original_referrer" type=hidden />
                    <input class=original_url name="original_url" type=hidden />
                    <input class=final_url name="final_url" type=hidden />
                    <input class=user_agent name="user_agent" type=hidden />
                    <input class=form_location name="form_location" type=hidden />
                    <input class=lead_source name="lead_source" type=hidden value="Web" />
                    <!-- UTM Tracking -->
                    <input class=utm_medium name="utm_medium" type=hidden />
                    <input class=utm_campaign name="utm_campaign" type=hidden />
                    <input class=utm_content name="utm_content" type=hidden />
                    <input class=utm_term name="utm_term" type=hidden />
                    <input class=utm_cost name="utm_cost" type=hidden />
                    <input class=utm_campaignname name="utm_campaignname" type=hidden />
                    <input class=utm_adsetname name="utm_adsetname" type=hidden />
                    <input class=utm_adgroupid name="utm_adgroupid" type=hidden />
                    <input class=utm_locationphysicalms name="utm_locationphysicalms" type=hidden />
                    <input class=utm_matchtype name="utm_matchtype" type=hidden />
                    <input class=utm_network name="utm_network" type=hidden />
                    <input class=utm_device name="utm_device" type=hidden />
                    <input class=utm_placement name="utm_placement" type=hidden />
                    <input class=utm_creative name="utm_creative" type=hidden />
                    <input class=utm_adsetid name="utm_AdSetID" type=hidden />
                    <input class=utm_adid name="utm_AdID" type=hidden />
                    <input class=utm_campaignid name="utm_CampaignID" type=hidden />
                    <input type=hidden name=fbc class=fbc>
                    <input type=hidden name=fbp class=fbp>
                    <input type=hidden name=fb_event_id class=fb_lead_event_id>
                    <input class=sf_contact_id name="contact_id" type=hidden value="" />
                </div>
                <div class=trilogy_error_container role="alert">
                    <span class=heading>The following requires your attention:</span>
                </div>
                <input class=career_path_hidden name=Career_Path_Selection type=hidden>
                <input class=bootcamp_hidden name=Boot_Camp_Selection type=hidden>
                <input class=cohort_id name="cohort_id" type=hidden disabled />
                <div class=step-container>
                    <div data-step=step-program-category class="step-program-category step active">
                        <div class=inner>
                            <div class="input select program_category_options">
                                <label id="program_category_option_dm_1" class=sr-only for="prog_cat_1">Choose Program</label>
                                <select title="Choose Program" class=program_category id=prog_cat_1 name=program_category data-rule-required=true></select>
                            </div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step=step-delivery-model class="step step-delivery-model">
                        <div class=inner>
                            <div class="input select delivery_model_options">
                                <label class=sr-only for="dm_1">Online or In-Person?</label>
                                <select title="Online or In-Person?" class="delivery_modal delivery_model_order_e1" id=dm_1 name=delivery_model data-rule-required=true></select>
                            </div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step=step-program class="step step-program">
                        <div class=inner>
                            <div class="input select program_options">
                                <label id="program_option_1" class=sr-only for="program_1">Choose Program</label>
                                <select title="Choose Program" id="program_1" class="program primary" name=program data-rule-required=true></select>
                            </div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step=step-campus class="step step-campus">
                        <div class=inner>
                            <div class="input select campus_options">
                                <label id="campus_option_1" class=sr-only for="campus_1">Campus</label>
                                <span>
                                    <select title="Choose Nearest City" id="campus_1" data-msg-required="Please Select a Campus" class=campus name="campus" data-rule-required=true></select>
                                </span>
                            </div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step=step-program-type class="step step-program-type">
                        <div class=inner>
                            <div class="input select program_type_options">
                                <label id="program_type_option_1" class=sr-only for="program_type_1">Choose Program Type</label>
                                <span> 
                                    <select title="Choose Program Type" id="program_type_1" data-msg-required="Please Select Program Type" class="program_type" name="program_type" data-rule-required="true"></select>
                                </span>
                            </div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step="step-cohort-date" class="step step-cohort-date">
                        <div class=inner>
                            <div class="input select cohort_date_options">
                                <label id="cohort_date_option_1" class=sr-only for="cohort_date_1">Choose Start Date</label>
                                <span> 
                                    <select title="Choose Start Date" id="cohort_date_1" data-msg-required="Please Select Start Date" class="cohort_date" name="cohort_date"></select>
                                </span>
                            </div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step=step-first-name class="step step-first-name">
                        <div class=inner>
                            <div class='fname ico'><label for="name_first_1" class=sr-only>First Name</label><input id="name_first_1" name="name_first" type="text" class="first-name" placeholder="First Name" title="First Name" data-rule-noSpace=true
                                    data-rule-required=true data-msg-required="Please enter first name" data-rule-minlength="2" data-msg-minlength="Please enter first name" autocomplete="on" required></div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step=step-last-name class="step step-last-name">
                        <div class=inner>
                            <div class='lname ico'><label for="name_last_1" class=sr-only>Last Name</label><input id="name_last_1" name="name_last" type="text" class="last-name" placeholder="Last Name" title="Last Name" data-rule-noSpace=true
                                    data-rule-required=true data-msg-required="Please enter last name" data-rule-minlength="2" data-msg-minlength="Please enter last name" autocomplete="on" required></div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step=step-email class="step step-email">
                        <div class=inner>
                            <div class='eml ico'><label for="email_1" class=sr-only>Email</label><input id="email_1" name=email class=email type="text" placeholder="Email Address" title="Email Address" data-rule-required=true required data-rule-emailtld=true
                                    data-msg-emailtld="Please enter valid email address" data-msg-required="Please enter email address"></div>
                            <div class=actions>
                                <button type="button" class="button" title="Continue">Next</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                    <div data-step="step-consent" class="step step-consent">
                        <div class=inner>
                            <div class="the-consent-step" data-consent-step-version="NonGDPR">
                                <style>
                                    body.trilogy-form-sfps .lead_form.get-program-info .content .form-get-info form.single-field-per-step .step-container .step .inner .ico.phone .iti {
                                        overflow: unset;
                                    }

                                    body.trilogy-form-sfps .lead_form .content .form-get-info form.single-field-per-step .step-container .step .inner .ico .iti input.phone {
                                        padding-left: 52px;
                                    }

                                    body.trilogy-form-sfps .lead_form .content .form-get-info form.single-field-per-step .step-container .step .inner .ico .iti.iti--separate-dial-code input.phone {
                                        padding-left: 98px;
                                    }

                                    body.trilogy-form-sfps .lead_form.get-program-info .iti {
                                        color: #000;
                                    }

                                    body.base-variation-fb .get-info-form .ico.phone .phone-number {
                                        padding-left: 52px;
                                    }

                                    .ico.phone .iti {
                                        color: #000;
                                        width: 100%;
                                        overflow: unset;
                                    }

                                    .ico.phone .iti input.phone {
                                        margin-left: 0;
                                        margin-right: 0;
                                        text-align: left;
                                    }

                                    body .ico.phone .iti input.phone::placeholder {
                                        text-align: left;
                                    }

                                    body.trilogy-form-sfps .ico.phone .iti input.phone::-webkit-input-placeholder {
                                        text-align: left;
                                    }

                                    ul.iti__country-list {
                                        list-style: none;
                                        position: absolute;
                                        /* Tweaks.css has ul position relative, which breaks ITI dropdown */
                                    }

                                    ul.iti__country-list li {
                                        margin: 0;
                                    }

                                    ul.iti__country-list li::before {
                                        content: "";
                                    }
                                </style>
                                <div class='input phone ico' style="margin-bottom: 15px;">
                                    <label for="phone_1" class="phone-label sr-only" data-phone-label-text-NonGDPR="Phone Number" data-phone-label-text-GDPR="Phone (By entering your phone number, you consent to being contacted by an admissions counselor to provide additional information and assistance with any questions you may have.)">Phone Number</label>
                                    <input id="phone_1" aria-label="phone number field" type="text" name=phone_visible class="phone form-control phone-iti phone-number phone-international phone-country-select" placeholder="Phone Number" data-placeholder="Phone Number" title="Phone Number"
                                        data-rule-phoneMSX="true" data-msg-phoneMSX="Please enter a valid phone number" required data-rule-required="true" data-msg-required="Phone number is required" minlength=8 maxlength=16
                                        style="text-align: left;">
                                    <input name=phone type=hidden class=actual_phone>
                                </div>
                                <input type='hidden' name='consent_by_telephone' data-rule-consentByTelephone=true id='consent_by_phone_1' value=1>
                                <input type="hidden" name="sms_opt_out" value="1" />
                                <div class="tcpa-options" style="margin-top:1.2em">
                                    <input id="tc_consent_marketing_1" type=hidden name=tc_consent_marketing value="I agree to the Terms and Conditions.">
                                    <input type=hidden name=tcpa_version value="23" data-version="23" />
                                    <label role=group aria-label="Disclaimer" for="tcpa_1" class="tcpa tcpa_copy">
                                        <input  id="tcpa_1" type=hidden name=tcpa value="By submitting this form, you agree that edX Boot Camps, in partnership with Rutgers may contact you regarding this boot camp. Your personal data will be used as described in Rutgers Boot Camps’s privacy policy. You may opt out of receiving commun"/>
                                        <span style="margin-left: unset !important; top: 0;">By submitting this form, you agree that edX Boot Camps, in partnership with Rutgers may contact you regarding this boot camp. Your personal data will be used as described in <em style="font-style:normal" class=bootcamp_name>Rutgers Boot Camps</em>’s <a class="tcpa-link" target=_blank href="/privacy-policy/">privacy policy</a>. You may opt out of receiving communications at any time.</span>
                                    </label>
                                </div>
                            </div>
                            <!-- .the-consent-step -->
                            <div class=actions>
                                <button type="submit" class="button" title="Submit">Submit</button>
                                <a class="back" href="#"><span>Back</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress progress-percent">
                    <progress value=0 max=100></progress>
                    <span class=percentage>0%</span>
                </div>
                <div class="form-indicator progress-step">
                    <div class=progress>
                        <progress value=5 max=100></progress>
                    </div>
                    <p class="text-center log-form-values">Step <span class=current_step_number>1</span> of <span class=step_count>6</span></p>
                </div>
            </form>
            <div class="optional-steps hidden">
                <div data-step=step-age-18-plus class="step step-age-18-plus ao1">
                    <div class=inner>
                        <fieldset class="styled-radio-fieldset">
                            <legend class="legend-label"> Are you over the age of 18? </legend>
                            <div class="radio-inline-wrap">
                                <label for="age_18_plus_yes_1" class="radio-inline-label">
                                    <input type="radio" value="Yes" id="age_18_plus_yes_1" name=age_18_plus class=age_18_plus data-msg="Please specify if you are over 18." aria-label="Yes" required >
                                    <span class="radio-inline-text">Yes</span>
                                </label>
                                <label for="age_18_plus_no_1" class="radio-inline-label">
                                    <input type="radio" value="No" id="age_18_plus_no_1" name=age_18_plus class=age_18_plus data-msg="Please specify if you are over 18." aria-label="No" required >
                                    <span class="radio-inline-text">No</span>
                                </label>
                            </div>
                        </fieldset>
                        <div class=actions>
                            <button type="button" class="button" title="Continue" aria-label="Next Button">Next</button>
                            <a class="back" href="#" aria-label="Back button"><span>Back</span></a>
                        </div>
                    </div>
                </div>
                <div data-step=step-zip class="step step-zip postalcode-usa z">
                    <div class=inner>
                        <div class='zip ico'><label for="zip_1" class=sr-only>Zip / Postal Code</label>
                            <input id="zip_1" name=zipcode class="zip zip-usa masked-input" type="text" data-mask="99999" placeholder="Zip / Postal Code" title="Zip / Postal Code">
                        </div>
                        <div class=actions>
                            <button type="button" class="button" title="Continue">Next</button>
                            <a class="back" href="#"><span>Back</span></a>
                        </div>
                    </div>
                </div>
                <div data-step=step-highest-level-of-education class="step step-highest-level-of-education oe2">
                    <div class=inner>
                        <div class="input select highest_level_of_education_options">
                            <label class=sr-only for="highest_level_of_education_1">Highest level of education</label>
                            <select title="Highest level of education" class=highest_level_of_education id=highest_level_of_education_1 name=highest_level_of_education data-msg-required="Please select education" aria-label="education field" aria-required=true required>
                                <option class="bs-title-option" value="">Highest level of education</option>
                                    <option value="Some High School">Some High School</option>
                                    <option value="High School Diploma or GED">High School Diploma or GED</option>
                                    <option value="Associate's Degree">Associate&#8217;s Degree</option>
                                    <option value="Bachelor's Degree">Bachelor&#8217;s Degree</option>
                                    <option value="Some graduate coursework">Some graduate coursework</option>
                                    <option value="Graduate Degree">Graduate Degree</option>
                            </select>
                        </div>
                        <div class=actions>
                            <button type="button" class="button" title="Continue">Next</button>
                            <a class="back" href="#"><span>Back</span></a>
                        </div>
                    </div>
                </div>
                <div data-step="step-contact-method" class="step step-contact-method">
                    <div class=inner>
                        <div class="input select contact-method">
                            <label class=sr-only for="contact_method1">Preferred Contact Method</label>
                            <select title="Contact Method" id=contact_method1 name=contact_method aria-label="contact method field">
                                <option class="bs-title-option" value="">How do you prefer to be contacted?</option>
                                <option value="Phone Call">Phone Call</option>
                                <option value="Email">Email</option>
                            </select>
                        </div>
                        <div class=actions>
                            <button type="button" class="button" title="Continue">Next</button>
                            <a class="back" href="#"><span>Back</span></a>
                        </div>
                    </div>
                </div>
                <div data-step="step-buyer-readiness" class="step step-buyer-readiness">
                    <div class=inner>
                        <div class="input select buyer-readiness-options">
                            <label class=sr-only for="when_get_started1">How soon do you want to start?</label>
                            <select title="How soon do you want to start?" id=when_get_started1 name=buyer_readiness data-msg-required="Please select start time" aria-label="when to start field" aria-required=true required>
                                <option class="bs-title-option" value="">How soon do you want to start?</option>
                                <option value="Immediately">Immediately</option>
                                <option value="Within 5 months">Within 6 months</option>
                                <option value="In 6-12 months">In 6-12 months</option>
                                <option value="In a year or more">In a year or more</option>
                            </select>
                        </div>
                        <div class=actions>
                            <button type="button" class="button" title="Continue">Next</button>
                            <a class="back" href="#"><span>Back</span></a>
                        </div>
                    </div>
                </div>

                <div data-step=step-experience class="step step-experience">
                    <div class=inner>
                        <div class="input select">
                            <label class=sr-only for="experience_1">Experience in this field</label>
                            <select title="Experience" name=Domain_Experience id=when_get_started1 required aria-label="experience field">
                                <option value="None">None</option>
                                <option value="Yes, Less than 2 years">Yes, Less than 2 years</option>
                                <option value="Yes, 2 to 5 years">Yes, 2 to 5 years</option>
                                <option value="Yes, more than 5 years">Yes, more than 5 years</option>
                                <option value="Yes, more than 10 years">Yes, more than 10 years</option>
                            </select>
                        </div>
                        <div class=actions>
                            <button type="button" class="button" title="Continue" aria-label="Next Button">Next</button>
                            <a class="back" href="#" aria-label="Back Button"><span>Back</span></a>
                        </div>
                    </div>
                </div>

                <div data-step=step-location class="step step-location">
                    <div class=inner>
                        <div class="input select country_group">
                            <label class=sr-only for="country1">Country</label>
                            <select title="Country" name=Country required class="country_select no-submit" data-size=10 aria-label="country field" id=country_1>
                                <option value="United States">USA</option>
                                <option>Canada</option>
                                <option>Germany</option>
                                <option>Mexico</option>
                            </select>
                        </div>
                        <br/>
                        <div class="input select state_prov_group">
                            <label class=sr-only for="country1">State/Province</label>
                            <select id=state_province_1 title="State / Province" name=State required class="no-submit state_province" aria-label="state province field">
                                <option class=usa value="Alaska">Alaska</option>
                                <option class=usa value="Alabama">Alabama</option>
                                <option class=usa value="Arkansas">Arkansas</option>
                                <option class=usa value="Arizona">Arizona</option>
                                <option class=usa value="California">California</option>
                                <option class=usa value="Colorado">Colorado</option>
                                <option class=usa value="Connecticut">Connecticut</option>
                                <option class=usa value="District of Columbia">District of Columbia</option>
                                <option class=usa value="Delaware">Delaware</option>
                                <option class=usa value="Florida">Florida</option>
                                <option class=usa value="Georgia">Georgia</option>
                                <option class=usa value="Hawaii">Hawaii</option>
                                <option class=usa value="Iowa">Iowa</option>
                                <option class=usa value="Idaho">Idaho</option>
                                <option class=usa value="Illinois">Illinois</option>
                                <option class=usa value="Indiana">Indiana</option>
                                <option class=usa value="Kansas">Kansas</option>
                                <option class=usa value="Kentucky">Kentucky</option>
                                <option class=usa value="Louisiana">Louisiana</option>
                                <option class=usa value="Massachusetts">Massachusetts</option>
                                <option class=usa value="Maryland">Maryland</option>
                                <option class=usa value="Maine">Maine</option>
                                <option class=usa value="Michigan">Michigan</option>
                                <option class=usa value="Minnesota">Minnesota</option>
                                <option class=usa value="Missouri">Missouri</option>
                                <option class=usa value="Mississippi">Mississippi</option>
                                <option class=usa value="Montana">Montana</option>
                                <option class=usa value="North Carolina">North Carolina</option>
                                <option class=usa value="North Dakota">North Dakota</option>
                                <option class=usa value="Nebraska">Nebraska</option>
                                <option class=usa value="New Hampshire">New Hampshire</option>
                                <option class=usa value="New Jersey">New Jersey</option>
                                <option class=usa value="New Mexico">New Mexico</option>
                                <option class=usa value="Nevada">Nevada</option>
                                <option class=usa value="New York">New York</option>
                                <option class=usa value="Ohio">Ohio</option>
                                <option class=usa value="Oklahoma">Oklahoma</option>
                                <option class=usa value="Oregon">Oregon</option>
                                <option class=usa value="Pennsylvania">Pennsylvania</option>
                                <option class=usa value="Rhode Island">Rhode Island</option>
                                <option class=usa value="South Carolina">South Carolina</option>
                                <option class=usa value="South Dakota">South Dakota</option>
                                <option class=usa value="Tennessee">Tennessee</option>
                                <option class=usa value="Texas">Texas</option>
                                <option class=usa value="Utah">Utah</option>
                                <option class=usa value="Virginia">Virginia</option>
                                <option class=usa value="Vermont">Vermont</option>
                                <option class=usa value="Washington">Washington</option>
                                <option class=usa value="Wisconsin">Wisconsin</option>
                                <option class=usa value="West Virginia">West Virginia</option>
                                <option class=usa value="Wyoming">Wyoming</option>
                                                <option class=ca value="Alberta">Alberta</option>
                                <option class=ca value="British Columbia">British Columbia</option>
                                <option class=ca value="Manitoba">Manitoba</option>
                                <option class=ca value="New Brunswick">New Brunswick</option>
                                <option class=ca value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                <option class=ca value="Nova Scotia">Nova Scotia</option>
                                <option class=ca value="Ontario">Ontario</option>
                                <option class=ca value="Prince Edward Island">Prince Edward Island</option>
                                <option class=ca value="Quebec">Quebec</option>
                                <option class=ca value="Saskatchewan">Saskatchewan</option>
                            </select>
                        </div>
                        <div class=actions>
                            <button type="button" class="button" title="Continue" aria-label="Next Button">Next</button>
                            <a class="back" href="#" aria-label="Back Button"><span>Back</span></a>
                        </div>
                    </div>
                </div>
                <div data-step=step-persona class="step step-persona">
                    <div class=inner>
                        <div class="input select persona_options">
                            <label class=sr-only id="persona_1" for="persona_1">I want to</label>
                            <span> 
                                <select title="I want to" 
                                    id="select_persona_1" 
                                    data-msg-required="Please Select an Option" 
                                    class="lead_persona" 
                                    name="lead_persona"
                                    aria-label="lead persona"
                                                    required
                                                >
                                    <option class="question-v1" value="">I want to&#8230;</option>
                                    <option class="question-v2" value="">Which best describes your goal?</option>
                                    <option class="copy-v1" value="Start a new career">Start a new career</option>
                                    <option class="copy-v1" value="Switch career path">Switch career path</option>
                                    <option class="copy-v1" value="Advance current career">Advance current career</option>
                                    <option class="copy-v1" value="Start/Grow business">Start/Grow business</option>
                                    <option class="copy-v1" value="Prefer not to say">Prefer not to say</option>
                                    <option class="copy-v1" value="Other">Other</option>
                                    <!-- V1 Copy -->

                                    <!-- V2 Copy -->
                                    <option class="copy-v2" value="Launch a new career">Launch a new career</option>
                                    <option class="copy-v2" value="Change my career path">Change my career path</option>
                                    <option class="copy-v2" value="Further my career">Further my career</option>
                                    <option class="copy-v2" value="Become an entrepreneur">Become an entrepreneur</option>
                                    <option class="copy-v2" value="Recent graduate, First job">Recent graduate, First job</option>
                                    <option class="copy-v2" value="Prefer not to say">Prefer not to say</option>
                                    <option class="copy-v2" value="Other">Other</option>
                                </select>
                            </span>
                        </div>
                        <div class=actions>
                            <button type="button" class="button" title="Continue">Next</button>
                            <a class="back" href="#"><span>Back</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div hidden class="dynamic-options-for-consent-step for--gdpr">
            </div>
            <!-- .dynamic-options-for-consent-step.for--gdpr -->
        </div>
        
    </div>
</div>
<form action="{% pageurl page %}?p={{ fields_step.number|add:'1' }}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>