{% extends "base.html" %}
{% load static wagtailcore_tags %}{% load wagtailuserbar %} {% load static %}{% load wagtailimages_tags %}

{% block content %}

<style>
    #calendly_container_outer {
        margin-top: 30px;
        height: auto;
    }

    #calendly_container {
        display: flex !important;
        flex-grow: 1;
    }

    #calendly_container iframe {
        min-height: 800px;
        display: block !important;
    }

    #application_link {
        text-decoration: none !important;
    }
</style>
<section id="calendly-apply_thank-you">
    <!-- 1st sub-section -->
    <div class="container calendly-apply_sub-section_one" id=section_one>
        <div class="row">
            <div class="col-sm-6 calendly-apply_heading">
                <h1 class="calendly-apply_h1">You've taken the first step toward changing your career path.</h1>
                <h2 class="calendly-apply_h2">What's Next?</h2>
                <h4 class="calendly-apply_h4">We'll be in touch with you soon.</h4>
                <p class="calendly-apply_p">
                    If you'd like to speak with admissions immediately, please call us 
                    <span class="text-nowrap">
                        {% if settings.home.SiteContact.phone1 %}
                        <span class="calendly-apply_span-phone">
                            <a class="phone" href="tel:{{settings.home.SiteContact.phone1}}">{{settings.home.SiteContact.phone1}}</a>
                        </span>
                        {% endif %}
                        .
                    </span>
                </p>
            </div>
            <div class="col-sm-6 calendly-apply_img-container hidden-xs">
                <img src="{% static 'images/img_learn_market_driven_skills.jpg' %}" class="calendly-apply_img" alt="learner sitting at laptop" width="455px" height="375px">
            </div>
        </div>
    </div>
    <!-- 2nd sub-section - Application and Calendly -->
    <div class="container calendly-apply_sub-section_two" id=section_two>
        <div class="row calendly-apply_main-title_container">
            <h2 class="calendly-apply_sub-section_two_main-title">Want to Get a Head Start on Your Application?</h2>
        </div>
        <div class="row">
            <div class="col-md-5 text-center calendly-apply_application">
                <div class="calendly-apply_icon-container">
                    <!-- SVG: /media/svg-icons/calendly/application_icon.svg -->
                    <svg class="calendly-icon application-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.322 60">
                        <defs>
                            <path class="calendly-icon-color" d="M0 0h60.322v60H0z"/>
                        </defs>
                        <g class="calendly-icon-color">
                            <path d="m59.276 11.8-1.944-1.434a2.96 2.96 0 0 0-4.063.79l-.859 1.138a59.676 59.676 0 0 1 3.208 2.213c1.123.83 2.2 1.68 3.179 2.516l.866-1.146a2.882 2.882 0 0 0-.386-4.075m-7.921 1.884L32.493 38.6l-.025.034-.321.423a.934.934 0 0 0-.181.431l-.9 6.479a.743.743 0 0 0 .891.858.88.88 0 0 0 .19-.061l6.029-2.693a.944.944 0 0 0 .365-.291l19.2-25.36a53.683 53.683 0 0 0-3.171-2.523 54.97 54.97 0 0 0-3.216-2.206"/>
                            <path d="M49.812 12.543s.008-.007.011-.012V5a5.038 5.038 0 0 0-5.061-5H5.061A5.038 5.038 0 0 0 0 5v50a5.038 5.038 0 0 0 5.061 5h39.7a5.038 5.038 0 0 0 5.061-5V32.057L45.546 37.7V55a.781.781 0 0 1-.784.776H5.061A.781.781 0 0 1 4.277 55V5a.781.781 0 0 1 .785-.776h39.7a.781.781 0 0 1 .784.776v13.176ZM12.74 43.915a2.032 2.032 0 1 0 0 4.063h12.552a2.032 2.032 0 1 0 0-4.063Zm21.39-10.661H12.74a2.032 2.032 0 1 0 0 4.063h18.313Zm5.009-8.629a2.043 2.043 0 0 0-2.055-2.032H12.74a2.032 2.032 0 1 0 0 4.063h24.343a2.043 2.043 0 0 0 2.055-2.031m-2.055-12.693H12.74a2.032 2.032 0 1 0 0 4.063h24.343a2.032 2.032 0 1 0 0-4.063"/>
                        </g>
                    </svg>
                </div>
                <h2 class="calendly-apply_h2 text-center">Start application</h2>
                <p class="calendly-apply_p">Please answer a few quick questions about yourself and your goals. It only takes a few minutes.</p>
                <a href="{% url 'dashboard:enrol' %}" id="application_link" class="calendly-apply_button">Get started</a>
            </div>
            <div class="col-md-2 text-center calendly-apply_or-circle-container">
                <div class="calendly-apply_or-circle">
                    <span class="calendly-apply_or-circle_span">or</span>
                </div>
            </div>
            <div class="col-md-5 text-center calendly-apply_schedule">
                <div class="calendly-apply_icon-container">
                    <!-- SVG: /media/svg-icons/calendly/calendar_icon.svg -->
                    <svg class="calendly-icon calendar-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.071 61">
                        <g class="calendly-icon-color" stroke-miterlimit="10">
                            <path d="M48.906 6.429h-7.949v-4.8a1.133 1.133 0 0 0-2.265 0v4.8H16.38v-4.8a1.133 1.133 0 0 0-2.265 0v4.8H6.166a5.668 5.668 0 0 0-5.662 5.662v42.747A5.668 5.668 0 0 0 6.166 60.5h42.747a5.668 5.668 0 0 0 5.662-5.662V12.091a5.668 5.668 0 0 0-5.669-5.662ZM6.159 8.694h7.949v4.8a1.133 1.133 0 0 0 2.265 0v-4.8h22.315v4.8a1.133 1.133 0 0 0 2.265 0v-4.8h7.949a3.4 3.4 0 0 1 3.4 3.4v6.324H2.765v-6.321a3.4 3.4 0 0 1 3.4-3.4Zm42.747 49.538H6.159a3.4 3.4 0 0 1-3.4-3.4V20.68H52.3v34.157a3.4 3.4 0 0 1-3.394 3.4Z"/>
                            <path d="M15.475 25.137h-4.992a3.4 3.4 0 0 0-3.4 3.4v4.992a3.4 3.4 0 0 0 3.4 3.4h4.992a3.4 3.4 0 0 0 3.4-3.4v-4.992a3.4 3.4 0 0 0-3.4-3.4Zm1.132 8.389a1.134 1.134 0 0 1-1.132 1.132h-4.992a1.132 1.132 0 0 1-1.132-1.132v-4.992a1.133 1.133 0 0 1 1.132-1.132h4.992a1.135 1.135 0 0 1 1.132 1.132Z"/>
                            <path d="M15.475 40.294h-4.992a3.4 3.4 0 0 0-3.4 3.4v4.992a3.4 3.4 0 0 0 3.4 3.4h4.992a3.4 3.4 0 0 0 3.4-3.4v-4.992a3.4 3.4 0 0 0-3.4-3.4Zm1.132 8.389a1.134 1.134 0 0 1-1.132 1.133h-4.992a1.132 1.132 0 0 1-1.132-1.133v-4.992a1.133 1.133 0 0 1 1.132-1.132h4.992a1.135 1.135 0 0 1 1.132 1.132Z"/>
                            <path d="M30.025 25.137h-4.99a3.4 3.4 0 0 0-3.4 3.4v4.992a3.4 3.4 0 0 0 3.4 3.4h4.99a3.4 3.4 0 0 0 3.4-3.4v-4.992a3.4 3.4 0 0 0-3.4-3.4Zm1.132 8.389a1.134 1.134 0 0 1-1.132 1.132h-4.99a1.132 1.132 0 0 1-1.132-1.132v-4.992a1.133 1.133 0 0 1 1.132-1.132h4.99a1.135 1.135 0 0 1 1.132 1.132Z"/>
                            <path d="M30.025 40.294h-4.99a3.4 3.4 0 0 0-3.4 3.4v4.992a3.4 3.4 0 0 0 3.4 3.4h4.99a3.4 3.4 0 0 0 3.4-3.4v-4.992a3.4 3.4 0 0 0-3.4-3.4Zm1.132 8.389a1.134 1.134 0 0 1-1.132 1.133h-4.99a1.132 1.132 0 0 1-1.132-1.133v-4.992a1.133 1.133 0 0 1 1.132-1.132h4.99a1.135 1.135 0 0 1 1.132 1.132Z"/>
                            <path d="M44.585 25.137h-4.992a3.4 3.4 0 0 0-3.4 3.4v4.992a3.4 3.4 0 0 0 3.4 3.4h4.992a3.4 3.4 0 0 0 3.4-3.4v-4.992a3.4 3.4 0 0 0-3.4-3.4Zm1.132 8.389a1.134 1.134 0 0 1-1.132 1.132h-4.992a1.132 1.132 0 0 1-1.132-1.132v-4.992a1.133 1.133 0 0 1 1.132-1.132h4.992a1.135 1.135 0 0 1 1.132 1.132Z"/>
                            <path d="M44.585 40.294h-4.992a3.4 3.4 0 0 0-3.4 3.4v4.992a3.4 3.4 0 0 0 3.4 3.4h4.992a3.4 3.4 0 0 0 3.4-3.4v-4.992a3.4 3.4 0 0 0-3.4-3.4Zm1.132 8.389a1.134 1.134 0 0 1-1.132 1.133h-4.992a1.132 1.132 0 0 1-1.132-1.133v-4.992a1.133 1.133 0 0 1 1.132-1.132h4.992a1.135 1.135 0 0 1 1.132 1.132Z"/>
                        </g>
                    </svg>
                </div>
                <h2 class="calendly-apply_h2 text-center">Schedule a time to talk</h2>
                <p class="calendly-apply_p">Just choose a day and time to schedule an appointment with a member of our admissions team.</p>
                
                <!-- Calendly link widget begin -->
                <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                <button id="open_calendly" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/admin-shineintutoring/30min'});return false;" class="calendly-apply_button">Pick a date</button>
                <!-- <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/admin-shineintutoring/30min'});return false;"><button id="open_calendly" class="calendly-apply_button">Pick a date</button></a> -->
                <!-- Calendly link widget end -->
            </div>
        </div>
        
    </div>
    <!-- 3rd sub-section -->
    <div class="container calendly-apply_sub-section_three" id=section_three>
        <div class="row">
            <div class="col-md-12 text-center calendly-apply_learn">
                <h2 class="calendly-apply_h2">Learn market-driven skills</h2>
                <p class="calendly-apply_p">
                    Prepare to meet industry demand in <span class=show_cohort_weeks>12 or 24</span>
                    weeks through immersive <span class=show_cohort_online_text></span>
                    classes and hands-on projects — designed and led by expert instructors.
                            
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}