{% extends "base.html" %}
{% load static wagtailcore_tags %}{% load wagtailuserbar %} {% load static %}{% load wagtailimages_tags %}{% load wagtailcore_tags %}
<!doctype html>
<html lang="en" class="no-js gutenberg">

<body class="page-template page-template-templates page-template-two-col page-template-templatestwo-col-php page page-id-1181 page-parent v3 organic form-1a trilogy-form-sfps wpb-js-composer js-comp-ver-7.2 vc_responsive region-USA">
{% block content %}
<div class="breadcrumbs hidden-xs hidden-sm">
    <div class="container">
        <ul class="crumbs">
            <li><a href="/">Home</a></li>															
            <li>{{page.title|title}}</li>
        </ul>
    </div>
</div>

<section class="section-main">
    <div class="container main-content">
        <div class="row">
			<div class="col-md-3 sidebar visible-md visible-lg background">
				<!-- SubPages Widget: From Menu -->				
                <aside class=no-border>
			        <h2 class="category-list-title"><a href="{% pageurl page.get_parent %}">Experience</a></h2>
                    <ul class=category-list>
                        {% for cpage in page.get_siblings.live.in_menu %}
                        <li class=""><a href="{% pageurl cpage %}">{{cpage.title|title}}</a></li>
                    {% endfor %}
                    </ul>
                </aside>
                <hr/>
                {% include 'left-sidebar.html' %}
            </div>
            <main class="col-md-9 main">									
                <h1 class="wp-block-heading">
                    <h1 style="box-sizing: border-box; margin-bottom: 0px; line-height: 1.1; white-space-collapse: collapse;">
                        {{page.heading_title|title}}
                    </h1>
                </h1>
                <div class="page-cover">
                    <img decoding="async" src="{{page.banner.url}}" alt="" width=1140 height=440 fetchpriority=high />
                    <div class="content">
                        <div class="title"></div>
                    </div>
                </div>
                <p>{{page.introduction|richtext}}</p>
                <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                <div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    <div class="wp-block-group__inner-container">
                        {% for block in page.career_building %}
                        {% if block.block_type == 'title' %}
                        <h2 class="wp-block-heading center-mobile"><strong>{{block.value|title}}</strong></h2>
                        {% elif block.block_type == 'intro_text' %}
                        {{block.value|richtext}}
                        
                        <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex" style="padding-top:var(--wp--preset--spacing--70);padding-right:0;padding-bottom:var(--wp--preset--spacing--70);padding-left:0">
                            {% elif block.block_type == 'path1' %}
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                <div class="wp-block-image">
                                    <figure class="svg-icon fill aligncenter" id="svg-icon1" style="color:#0096d6;">
                                        {% image block.value.image fill-73.7x80 %}
                                    </figure>
                                </div>
                                <p class="has-text-align-center" style="margin-top:var(--wp--preset--spacing--50)"><strong>{{block.value.title|title}}</strong></p>
                                <p class="has-text-align-center">{{block.value.text|richtext}}</p>
                            </div>
                            {% elif block.block_type == 'path2' %}
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                <div class="wp-block-image">
                                    <figure class="svg-icon fill aligncenter" id="svg-icon1" style="color:#0096d6;">
                                        {% image block.value.image fill-73.7x80 %}
                                    </figure>
                                </div>
                                <p class="has-text-align-center" style="margin-top:var(--wp--preset--spacing--50)"><strong>{{block.value.title|title}}</strong></p>
                                <p class="has-text-align-center">{{block.value.text|richtext}}</p>
                            </div>
                            {% elif block.block_type == 'path3' %}
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                <div class="wp-block-image">
                                    <figure class="svg-icon fill aligncenter" id="svg-icon1" style="color:#0096d6;">
                                        {% image block.value.image fill-73.7x80 %}
                                    </figure>
                                </div>
                                <p class="has-text-align-center" style="margin-top:var(--wp--preset--spacing--50)"><strong>{{block.value.title|title}}</strong></p>
                                <p class="has-text-align-center">{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% else %}
                        {{block.value|richtext}}
                        {% endif %}
                        {% endfor %}
                        <div class="wp-block-group has-primary-background-color has-background is-layout-constrained wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--40)">
                            <div class="wp-block-group__inner-container">
                                <p class="has-text-align-center has-white-color has-text-color has-link-color wp-elements-8cd25601bc66984ef4b3375e3e0b5b4c" style="margin-bottom:var(--wp--preset--spacing--70);padding-right:0;padding-left:0"><strong>{{page.ad|richtext}}</strong></p>
                                <div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-core-buttons-layout-1 wp-block-buttons-is-layout-flex">
                                    <div class="wp-block-button">
                                        <a class="wp-block-button__link has-white-color has-secondary-background-color has-text-color has-background has-link-color wp-element-button" href="/experience/career-services/#form" style="border-radius:0px;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">Take the Next Step in Your Career Journey</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" style="margin-top:var(--wp--preset--spacing--80)"/>
                {% for block in page.career_services_glance %}
                <div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    <div class="wp-block-group__inner-container">
                        {% if block.block_type == 'title' %}
                        <h2 class="wp-block-heading center-mobile" style="margin-bottom:var(--wp--preset--spacing--70)"><strong>{{block.value|title}}</strong></h2>
                        <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-2 wp-block-columns-is-layout-flex" style="padding-bottom:var(--wp--preset--spacing--50)">
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                {% elif block.block_type == 'column1' %}
                                {{block.value|richtext}}
                            </div>
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                {% elif block.block_type == 'column2' %}
                                {{block.value|richtext}}
                            </div>
                        </div>
                        {% else %}
                        {{block.value|richtext}}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div id="dedicatedsupport" class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    {% for block in page.dedicated_support %}
                    <div class="wp-block-group__inner-container">
                        <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                        {% if block.block_type == 'title' %}
                        <h2 class="wp-block-heading center-mobile" style="margin-bottom:var(--wp--preset--spacing--60)"><strong>{{block.value|title}}</strong></h2>
                        <div class="bc-accordion has-bg" style="background:#cc0033">
                            <div class="inner">
                                {% elif block.block_type == 'support1' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item1">{{block.value.title|title}}</a>
                                    </h4>
                                    <div id="bc-accordion-item1" class="panel-collapse collapse in" role="tabpanel">
                                        <div class="panel-body">
                                            <p>{{block.value.description|richtext}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'support2' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item2">{{block.value.title|title}}</a>
                                    </h4>
                                    <div id="bc-accordion-item2" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            <p>{{block.value.description|richtext}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'support3' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item3">{{block.value.title|title}}</a>
                                    </h4>
                                    <div id="bc-accordion-item3" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            <p>{{block.value.description|richtext}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'support4' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item4">{{block.value.title|title}}</a>
                                    </h4>
                                    <div id="bc-accordion-item4" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            <p>{{block.value.description|richtext}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'support5' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item5">{{block.value.title|title}}</a>
                                    </h4>
                                    <div id="bc-accordion-item5" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            <p>{{block.value.description|richtext}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'support6' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item6">{{block.value.title|title}}</a>
                                    </h4>
                                    <div id="bc-accordion-item6" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            <p>{{block.value.description|richtext}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {{block.value|richtext}}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    {% for block in page.employment_readiness %}
                    <div class="wp-block-group__inner-container">
                        <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--70)"/>
                        {% if block.block_type == 'title' %}
                        <h2 class="wp-block-heading center-mobile" style="margin-bottom:var(--wp--preset--spacing--70)"><strong>{{block.value|title}}</strong></h2>
                        {% elif block.block_type == 'intro' %}
                        <p>{{block.value|richtext}}</p>
                        <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-3 wp-block-columns-is-layout-flex" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--50)">
                            {% elif block.block_type == 'column1' %}
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                <div class="wp-block-image">
                                    <figure class="svg-icon fill aligncenter" id="svg-icon16" style="color:#0096d6;">
                                        {% image block.value.image fill-60.145x59.5 %}
                                    </figure>
                                </div>
                                <h3 class="wp-block-heading has-text-align-center"><strong>{{block.value.title|title}}</strong></h3>
                                {{block.value.description|richtext}}
                            </div>
                            {% elif block.block_type == 'column2' %}
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                <div class="wp-block-image">
                                    <figure class="svg-icon fill aligncenter" id="svg-icon16" style="color:#0096d6;">
                                        {% image block.value.image fill-60.145x59.5 %}
                                    </figure>
                                </div>
                                <h3 class="wp-block-heading has-text-align-center"><strong>{{block.value.title|title}}</strong></h3>
                                {{block.value.description|richtext}}
                            </div>
                        </div>
                        {% else %}
                        {{block.value|richtext}}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                <div id="CEN" class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    {% for block in page.future_support %}
                    <div class="wp-block-group__inner-container">
                        {% if block.block_type == 'title' %}
                        <h2 class="wp-block-heading center-mobile" style="margin-bottom:var(--wp--preset--spacing--70)"><strong>{{block.value|title}}</strong></h2>
                        <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-4 wp-block-columns-is-layout-flex">
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:15.33%">
                                {% elif block.block_type == 'image' %}
                                <div class="wp-block-image">
                                    <figure class="svg-icon fill custom-size" id="svg-icon18" style="width:116px;height:116px;color:#0096d6;">
                                        {% image block.value fill-88.434x79.905 %}
                                    </figure>
                                </div>
                            </div>
                            {% elif block.block_type == 'text' %}
                            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:85.66%">
                                {{block.value|richtext}}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>

                <div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    {% for block in page.faq %}
                    <div class="wp-block-group__inner-container">
                        <h2 class="wp-block-heading center-mobile" style="margin-bottom:var(--wp--preset--spacing--70)"><strong>Career Services FAQ</strong></h2>
                        <div class="bc-accordion has-bg" style="background:#cc0033">
                            <div class="inner">
                                {% if block.block_type == 'faq1' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item1">
                                            {{block.value.question}}        
                                        </a>
                                    </h4>
                                    <div id="bc-accordion-item1" class="panel-collapse collapse in" role="tabpanel">
                                        <div class="panel-body">
                                            {{block.value.answer|richtext}}
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'faq2' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item2">
                                            {{block.value.question}}        
                                        </a>
                                    </h4>
                                    <div id="bc-accordion-item2" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            {{block.value.answer|richtext}}
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'faq3' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item3">
                                            {{block.value.question}}        
                                        </a>
                                    </h4>
                                    <div id="bc-accordion-item3" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            {{block.value.answer|richtext}}
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'faq4' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item4">
                                            {{block.value.question}}        
                                        </a>
                                    </h4>
                                    <div id="bc-accordion-item4" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            {{block.value.answer|richtext}}
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'faq5' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item5">
                                            {{block.value.question}}        
                                        </a>
                                    </h4>
                                    <div id="bc-accordion-item5" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            {{block.value.answer|richtext}}
                                        </div>
                                    </div>
                                </div>
                                {% elif block.block_type == 'faq6' %}
                                <div class="panel">
                                    <h4 class="panel-title">
                                        <a class="panel-heading" data-toggle=collapse href="#bc-accordion-item6">
                                            {{block.value.question}}        
                                        </a>
                                    </h4>
                                    <div id="bc-accordion-item6" class="panel-collapse collapse" role="tabpanel">
                                        <div class="panel-body">
                                            {{block.value.answer|richtext}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>   
                <section class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    <div class="wp-block-group__inner-container">
                        <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                        <p class="has-text-align-center" style="padding-right:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)">If you are ready to learn more about&nbsp;<strong>Rutgers&nbsp;Bootcamps</strong>, contact an admissions advisor&nbsp;by filling out the&nbsp;form below.</p>
                        <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                        <div class="bc-drip-form" id="bc_form_1">
                            <div class=consent></div>
                            {% include 'home/get_info.html' %}
                        </div>
                    </div>
                </section>
			</main>
		</div>
	</div>
</section>
{% endblock %}
</body>
</html>