{% extends "base.html" %}
{% load static wagtailcore_tags %}{% load wagtailuserbar %} {% load static %}{% load wagtailimages_tags %}{% load wagtailcore_tags %}
<!doctype html>
<html lang="en" class="no-js gutenberg">

<body class="page-template page-template-templates page-template-two-col page-template-templatestwo-col-php page page-id-1181 page-parent v3 organic form-1a trilogy-form-sfps wpb-js-composer js-comp-ver-7.2 vc_responsive region-USA">
{% block content %}
<div class="breadcrumbs hidden-xs hidden-sm">
    <div class="container">
        <ul class="crumbs">
            <li><a href="/">Home</a></li>															
            <li>{{page.title|title}}</li>
        </ul>
    </div>
</div>

<section class="section-main">
    <div class="container main-content">
        <div class="row">
			<div class="col-md-3 sidebar visible-md visible-lg background">
				<!-- SubPages Widget: From Menu -->				
                <aside class=no-border>
			        <h2 class="category-list-title">Experience</h2>
                    <ul class=category-list>
                        {% for cpage in page.get_children.live.in_menu %}
                            <li class=""><a href="{% pageurl cpage %}">{{cpage.title|title}}</a></li>
                        {% endfor %}
                    </ul>
                </aside>
                <hr/>
                {% include 'left-sidebar.html' %}
            </div>
            <main class="col-md-9 main">									
                <h1 class="wp-block-heading">
                    <h1 style="box-sizing: border-box; margin-bottom: 0px; line-height: 1.1; white-space-collapse: collapse;">
                        {{page.heading_title|title}}
                    </h1>
                </h1>
                <div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    <div class="wp-block-group__inner-container">
                        {{page.intro|richtext}}
                        <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                    </div>
                </div>
                <div class="page-cover">
                    <img decoding="async" src="{{page.banner.url}}" alt="" width=1140 height=440 fetchpriority=high />
                    <div class="content">
                        <div class="title"></div>
                    </div>
                </div>
                <div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    <div class="wp-block-group__inner-container">
                        <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                        {% for block in page.features %}
                        {% if block.block_type == 'content1' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content2' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content3' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content4' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content5' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content6' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content7' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content8' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content9' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% elif block.block_type == 'content10' %}
                        <div class="wp-block-group clearfix is-layout-constrained wp-block-group-is-layout-constrained">
                            <div class="wp-block-group__inner-container">
                                <figure class="wp-block-image alignleft size-large">
                                    {% image block.value.image fill-128x128 %}
                                </figure>
                                <h3 class="wp-block-heading">
                                    <a href="#">{{block.value.title|title}}</a>
                                </h3>
                                <p>{{block.value.text|richtext}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                    
                <section class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
                    <div class="wp-block-group__inner-container">
                        <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                        <p class="has-text-align-center" style="padding-right:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)">If you are ready to learn more about&nbsp;<strong>Eureka Data Academy &nbsp;Bootcamps</strong>, contact an admissions advisor at <a href="tel:+{{ settings.home.SiteContact.phone1 }}">{{ settings.home.SiteContact.phone1 }}</a></p>
                        <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
                        
                    </div>
                </section>
			</main>
		</div>
	</div>
</section>
{% endblock %}
</body>
</html>