.container {
	padding: 0 15px;
	max-width: 1172px;
	margin: auto;

	&:after {
		display: block;
		clear: both;
		content: "";
	}

	.sidebar {
		line-height: 1.4em;
	}
}

.main-content {
	
	padding-bottom: 15px;
}
