
.chatBtnClicker {
    //next to search bar
    display: none; //shown once live-chat loads
    padding-right: 30px;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    line-height: 55px;

    &:hover{
        color: #000;
    }


    @media (min-width: 992px) {
        line-height: 70px; 
    } 

    .chat-icon {
        height: 35px;
        margin-top: -4px;
    }

    //in mobile menu nav-v2
    &.mobile-menu {
        text-align: center;
        line-height: 30px;
        background-color: #ebb600 !important;//color added 
        display: none;//shown once live-chat loads
        padding: 13px;
        font-weight: 400;

        .menu-text{
            color: #000000 !important;
            font-weight: 600;
        }
        .chat-icon {
            width: 24px;
            top: 0;
            margin-top: -9px;
            margin-right: -3px;
            padding: 0;
        } 
        @media (max-width: 400px) {
            //custom break-point
            flex: 1.5 !important;
            padding: 13px 10px;
            .chat-icon {
                margin-top: -8px;
                width: 20px; 
            }
        }
    }

}

#header.navbar-v2 .chatBtnClicker.mobile-menu {display: none;}