ul.publications {
	
	&:after {
        display: block;
        clear: both;
        content: "";
    }
	
	font-size: 20px;
	font-weight: 600;
	list-style-type: none;
	margin: 0 -15px;
	padding: 0;

	li {
		padding: 15px;
	}

	@media screen and (min-width: 600px) {
		font-size: 24px;

		li {
			float: left; 
			width: 50%;
		}
	}
}
