.comments {
    padding: 40px 0;
    
    .title {
        font-size: 22px;
        color: $color-main;
        margin-bottom: 0.5em;
    }
}

.comment-form {
    max-width: 700px;
    position: relative;

    textarea {
        background: #fff;
        border: none;
        border-bottom: 1px solid #e2e2e2;
        border-radius: 5px;
        width: 100%;
        padding: 25px 15px 80px 15px;
        outline: none;
    }

    input[type="submit"] {
        position: absolute;
        bottom: 25px;
        right: 15px;
        background: #f4f4f4;
        border: 1px solid #b7b7b7;
        color: #222;
        border-radius: 4px;
        padding: 0 20px;
        height: 30px;
        outline: none;
        
        &:hover {
            background: darken(#f4f4f4, 5%);
        }
    }
}