.get-program-info {
	background: #cc0033;
	color: #fff;
	max-width: 520px;
	margin: auto;
	border: 10px solid #fff;
       
	.group {
		margin: 0 -8px;
	}

	.half {
		width: 50%;
		float: left;
		padding: 6px 8px;
		box-sizing: border-box;
	}

	.title {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-size: 21px;
		padding: 10px 20px;
		line-height: 1em;
		margin: 0;
		position: relative;
        background-color: #000000;
		//background: #eeb300 url('../img/split-bg-yellow.svg') center center no-repeat;
		background-size: 100%;
		font-weight: 600;

		&.large {
			font-size: 30px;
		}
	}

	.steps {
		text-align: center;
		color: #FFFFFF;
		font-weight: 600;
		margin-bottom: 10px;
	}

	form {
		padding: 20px;
		margin-top: -4px;
	}

	input[type="text"],input[type="email"],input[type="tel"],
	.styled-select {	
		background: #fff;
		border-radius: 5px;
		height: auto;
		border: none;
		padding: 8px 15px;
		width: 100%;
		box-sizing: border-box;
		outline: none;
		margin-bottom: 8px;
		color: #323232;
		font-family: inherit;
		font-weight:600;
		border-radius: 0;
	}

	label.error{
		position:relative;
		//top:-8px; 
		color: #ffffff;
		font-size:0.7em !important;}
	
	.styled-select {
		padding: 0;

		select {
			background: none;
			border: none;
			height: 100%;
			padding: 0 12px;
			width: 100%;
			box-sizing: border-box;
			appearance: none;
			outline: none;
			color: #323232;
			font-family: inherit;
			cursor: pointer;
		}
	}

	.btn,.button{
		display: block;
		width: 100%;
		margin: 14px auto 20px auto;
		/*
		height: 38px;
		line-height: 37px;
		*/ 
		font-size: 24px;
		padding-bottom: 1px;
		max-width: 240px;
		border-radius: 0;
	}

	.button:after {
	    background: url(../icons/icon_chevron_right_black.svg) center center no-repeat;
        background-size: contain;
        content: "";
        height: 20px;
        width: 15px;
        display: inline-block;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: -10px;
        position: relative;
        top: 2px;
	}
	
	
	.confirm {
		color: #fff;
		font-size: 11px;
		line-height: 1.5em;
		padding-left: 25px;
		position: relative;
		text-align: justify;

		a {
			color: #fff;
		}
	}

	.confirm-button {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.tcpa{
		text-align:left;
		font-size: 12px;
		color: #fff;
	}
    a.tcpa-link{
		color: #ffffff; 
		text-decoration: underline;	
    }
}
