.category-list-title {
	background: $color-main;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 20px;
	line-height: 1.2em;
	margin: 0;
	border-bottom: 1px solid #f8f8f8;

	&.no-bg {
		background: #fff;
		color: $color-main;
		border-top: 2px solid $color-main;
		border-bottom-color: $color-main;
	}
}

ul.category-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		border-bottom: 1px solid $color-main;
		border-top: 1px solid #f8f8f8;
		background: #fff;

		&:last-child {
			border-bottom: none;
		}

		a {
			display: block;
			padding: 10px 20px;
			text-decoration: none;
			color: #222;
			line-height: 1.2em;

			&:hover {
				color: $color-main;
			}
		}
	}
	
	li.current a{color:#027fad;}
	
}

ul.posts-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: table;
	width: 100%;
	font-size: 14px;
	line-height: 1.2em;

	li {
		display: table-row;

		&:last-child {
			.image, .content {
				border-bottom: none;
			}
		}
		
		.image {
			width: 50px;
			padding: 5px 10px 5px 0;
			display: table-cell;
			vertical-align: middle;
			border-bottom: 1px solid #c8c8c8;
		}

		.content {
			display: table-cell;
			padding: 5px 0;
			vertical-align: middle;
			border-bottom: 1px solid #c8c8c8;
		}

		p {
			margin: 0;
		}
	}
}