.mobile-apply{
	line-height:50px;
    padding:0 10px;
}

ul{
	list-style-type:square;
}

.input.select{position:relative;}
.input.select select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
	color:#323232;
	display: block;
    width: 100%;
    padding: 8px 15px;
	margin-bottom:8px;
}
.select:before {
	z-index: 100;
    position: absolute;
	content:'';
    border-top: 5px solid #aeaeae;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-top: -2px;
    left: initial;
    right: 15px;
	top: 50%;
}

form.contact .input.select select{padding:4px 15px;}

.sidebar hr:last-child{display:none;}
.blog-post:last-of-type{border-bottom:none;}



.sub-toggles > br{display:none;}

.toggle .content{opacity:0;}
.toggle.active .content{opacity:1;}


.wpb_content_element {
    margin-bottom: 1em;
}

.main-content {
    .main  {
        .wpb_content_element {
            h1 {
                &:first-child {
                    margin-top: 20px;
                    @media screen and (min-width: 992px) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

// Blog Previous/Next Post New Styles 
// (temp untill re-design comes) 

$button-bg-color: #5f6a72;
$button-font-color:#ffffff;
$button-hover-font-color: $button-font-color;
$button-hover-font-weight: 700;
$button-hover-font-underline: underline;

.blog-post-bar{
   background-color: $button-bg-color;
   text-align: center;
   .sep-bar{
       color:$button-font-color;
       font-weight: 600;
   }

    a.btn.previous,
    a.btn.next{
        background-color: $button-bg-color; 
        span{
            color:$button-font-color;
        }
        &:hover,
        &:active,
        &:focus{
            span{
                color:$button-hover-font-color;
                text-decoration: underline; 
                font-weight: $button-hover-font-weight;
            }
        }

        &:visited{
            span{
                color:$button-font-color;
            }
        }

    }

}

.single h1{margin-bottom:0px;}
.single .post-meta{font-size:0.8em;}
.single .post-meta .author{color:#999;}

#footer a {
    color: white;
}

.modal-phone{font-size:1.5em;}
.sweet-alert h2{margin:0 0 10px 0;}
.sweet-alert fieldset{padding:0;}
.sa-button-container .confirm{background-color:#CC0033 !important;}
.sa-button-container .confirm:hover{background-color:#B60029 !important;}

@media(min-width: 992px){
	.section-main {
        min-height:calc(100vh - 115px - 337px)
    };
}


/*contact-us msxq */
.contact-msx{
    .select:before {
        top: 25px;
    }
}

//fix CLS issues
body.home.v3{
    overflow-x: hidden;
}
.front-page-hero{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
}


html.gutenberg body.organic .main ul:not(.meta){
	li{
        list-style-type: none;
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px; 
		&::before{
            content: "";
            position: absolute;
            left: 0;
            top: 14px;
            transform: translateY(-50%);
            height: 10px;
            width: 10px;
            background-color: $primary-color;
        }
	}
}

html.gutenberg body.organic ul.iti__country-list{
    li{
		&::before{
           display: none;
        }
	}
}

