{% load static wagtailcore_tags %} {% load static %}{% load wagtailimages_tags %}{% load static menus_tags %}
{% load wagtailcore_tags navigation_tags %}
{% get_site_root as site_root %}
<footer id="footer">
    <!-- GEO FOOTER -->
    <div class="container">
        <div class="row items-justified-space-between">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <!-- NAVIGATION  -->
                <div class="footer-navigation footer__nav ">
                    {% for item in site_root.get_children.live.in_menu %}
                    <div class="footer__nav-inner-item"><a href="{% pageurl item %}" class="link">{{item.title}}</a></div>
                    {% endfor %}
                    
                    <div class="footer__nav-inner-item"><a href="{% url 'dashboard:enrol' %}" class="link">Apply</a></div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content-container">
                <hr class="visible-xs hr">
                <div class="col">
                    <img src="{% static 'images/shiningtutor.png' %}" alt="Eureka Data Academy coding, data and cybersecurity bootcamps" class="logo">
                    <p>Copyright © 2024, Eureka Data Academy<br /></p>
                    <p><span>Contact Eureka Data Academy at <a data-phone-type="coding" class=phone href="tel:7323614853" aria-label="coding telephone number">(732) 361-4853</a></span></p>
                    <p>
                        <p class="privacy-links-wrapper" data-tsc="addPrivacy"><a target=_blank aria-label="privacy policy opens in a new tab" href="/privacy-policy/">Privacy/Your Privacy Rights</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target=_blank aria-label="opens in a new tab" href="/terms/">Terms &amp; Conditions</a>
                            <br
                                class="visible-320">&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" aria-label="cookie policy opens in a new tab" href="/cookie-policy/" rel="noopener">Cookie Policy</a><br/><a href="#" onclick="open_onetrust_preference_center();" class="show-ot-settings"
                                    title="Your Privacy Choices" aria-label="Your Privacy Choices opens a modal" data-linkusedin="footer">Your Privacy Choices</a></p>
                    </p>
                    <div class="icon-container">
                        <a href="" rel=nofollow target=_blank aria-label="Facebook">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
                            <style type="text/css">
                            .st0{fill:#FFFFFF;}
                            </style>
                            <g>
                            <g>
                            <path class="st0 facebook" d="M292.6,103.6c20.1,61.8-1.9,129.5-54.5,167.7c-52.6,38.2-123.8,38.2-176.3,0C9.2,233.2-12.8,165.4,7.3,103.6
                                C27.3,41.8,84.9,0,149.9,0C214.9,0,272.5,41.8,292.6,103.6z M149.9,13.5c-59.1,0-111.5,38.1-129.8,94.3
                                c-18.3,56.2,1.7,117.8,49.6,152.6c47.8,34.8,112.6,34.8,160.5,0c47.8-34.8,67.9-96.4,49.6-152.6C261.4,51.6,209,13.5,149.9,13.5z"
                                />
                            </g>
                            <path class="st0 facebook" d="M170.3,106.9c4.1-0.1,8.1,0,12.2,0c0.5,0,1,0,1.7,0V85.7c-2.2-0.2-4.4-0.5-6.7-0.6c-4.2-0.2-8.4-0.4-12.5-0.3
                                c-6.4,0.1-12.4,1.7-17.7,5.5c-6,4.4-9.4,10.5-10.6,17.7c-0.5,3-0.7,6.1-0.7,9.1c-0.1,4.8,0,9.5,0,14.2v1.8h-20.3v23.6h20.1V216
                                h24.6v-59.3h20.1c1-7.9,2-15.7,3.1-23.8c-1.6,0-3.1,0-4.5,0c-5.7,0-18.8,0-18.8,0s0.1-11.7,0.2-16.8
                                C160.6,109.2,164.7,107.1,170.3,106.9z"/>
                            </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Tracking -->